body {


}

#board {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;

    background-image: url("/static/kettlebird/images/flappybirdbg.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 640px;
}