/* Rough styling for the Game page */
/* Created 2/16 */
/* Last edited 2/18 */
/* General Styling */


/* Temporary Navbar Styling */

/* Header and Banner */




/* Small description text under the banner */

/* Container for game list */

/* Game Table Styling */











