/* General body styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #A9A9A9;
    padding: 0;
    overflow-x: hidden;
}

.content {
    flex: 1;
}

header {
    background-image: url('images/tempbanner.png');
    background-size: cover;
    background-position: center;
    padding: 150px 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
}

header h1 {
    margin-bottom: 10px;
    font-size: 48px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #030303;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 25px;
}

.navbar img {
    height: 50px;
    width: auto;
    margin: 5px 15px;
}

.navbar .navbar-pp {
    border-radius: 1rem;
}

.navbar .links {
    display: flex;
    align-items: center;
}

.navbar .links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.navbar .links a:hover {
    background-color: #371055;
    border-radius: 4px;
}

.navbar .login-signup {
    background-color: #4C1D70;
    color: #371055;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 20px;
}

.navbar .login-signup:hover {
    background-color: #f1f1f1;
}

.banner-description {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #343538;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #504d54;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 0;
}

.price {
    font-size: 16px;
    color: white;
    text-align: center;
}

.buyButton {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    border-radius: 0;
}

.buyButton:hover {
    background-color: #ddd;
}

.profile-container {
    background: #121212;
    padding: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-upload {
    width: 250px;
    height: 150px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.upload-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.username, .custom-username, .profile-bio {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.bio-section {
    text-align: left;
    margin-top: 20px;
}

.games {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.no-games {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.no-games a {
    background-color: #4C1D70;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.no-games a:hover {
    background-color: #371055;
}



.game {
    width: 250px;
    height: 300px;
    background: #ddd;
    border-radius: 5px;
    text-align: center;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.game img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.save-button {
    width: 30%;
    padding: 15px;
    margin-top: 30px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border: solid #4C1D70;
}

/* Footer styles */
footer {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    position: relative;
}

.footer-logo {
    height: 60px;
    width: auto;
    position: absolute;
    left: 37%;
}

footer .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer hr {
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer ul li a {
    text-decoration: none;
}

footer ul li a:hover {
    color: #4C1D70 !important;
    color: inherit;
}

footer ul li a:visited {
    color: inherit;
}

