/* General body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #A9A9A9;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-image: url('images/tempbanner.png');
    background-size: cover;
    background-position: center;
    padding: 150px 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
}

header h1 {
    margin-bottom: 10px;
    font-size: 48px;
}


.banner-description {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 40px;
	margin-bottom: 80px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #343538;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #504d54;
    padding-top: 30px;
	padding-bottom: 50px;
}

.price {
    font-size: 16px;
    color: white;
    text-align: center;
}

.buyButton {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;

}

.buyButton:hover {
    background-color: #ddd;
}

.container {
    border-radius: 0;
}

.buyButton {
    border-radius: 0;
}