{% extends 'base.html' %}
{% block head %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="/static/kettlebird/kettlebird.css" rel="stylesheet">
    <script src="/static/kettlebird/kettlebird.js"></script>

    <style>
    * {

    }
    </style>

{% endblock %}
{% block content %}
    {% include 'partials/navbar.html' %}

    <div id="select-difficulty-menu">
        <h1>Choose your Difficulty</h1>
        <a href="#board"><button class="difficulty-button" value="EASY" onclick="selectDifficulty(this)">EASY</button></a>
        <a href="#board"><button class="difficulty-button" value="MEDIUM" onclick="selectDifficulty(this)">MEDIUM</button></a>
        <a href="#board"><button class="difficulty-button" value="HARD" onclick="selectDifficulty(this)">HARD</button></a>
    </div>

    <canvas id="board">

    </canvas>
    <div id="highscores-div">
        <h1>High Scores</h1>
        {% for score in highscores %}
            <p>{{ loop.index }}.  {{ score.user_alias }} {{ score.flappybird_highscore }} points </p>
        {% endfor %}
    </div>

{% endblock %}



