
<style>

    footer {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer hr {
        width: 100%;
    }

    footer ul {
        list-style-type: none;
        padding: 0;
    }

    footer ul li a {
        text-decoration: none;
    }

    footer ul li a:hover {
        color: #4C1D70 !important;
        color: inherit;
    }

    footer ul li a:visited {
        color: inherit;
    }
</style>

<footer>
    <div class="footer_content">
        <p>&copy; 2025 Kettle. All rights reserved.</p>
        <hr>
        <ul class="footer-links">
            <li><a href="/about">About Us</a></li>
            <br>
            <li><a href="/support">Support</a></li>
        </ul>
    </div>
</footer></div>