<footer>
    <div class="footer_content">
        <p>&copy; 2025 Kettle. All rights reserved.</p>
        <hr>
        <a href="#top"><img src="static/images/kettlelogo.png" alt="Kettle Logo" class="footer-logo"></a>
        <ul class="footer-links">
            <li><a href="/about">About Us</a></li>
            <span>|</span>
            <li><a href="/support">Support</a></li>
            <span>|</span>
            <li><a href="https://trello.com/b/nLR6hiT7/kettle" target="_blank">Trello</a></li>
            <span>|</span>
            <li><a href="https://github.com/Icecreamy8229/kettle" target="_blank">Github</a></li>
        </ul>
        <hr>
        <p style="opacity: 0.7;">DISCLAIMER: THIS IS JUST A MOCK GAME DISTRIBUTION SITE.</p>
    </div>
</footer>
