<footer>
    <p>&copy; 2025 Kettle. All rights reserved.</p>
        <hr>
        <ul class="footer-links">
            <li><a href="/about">About Us</a></li>
            |
            <li><a href="https://trello.com/b/nLR6hiT7/kettle" target="_blank">Trello</a></li>
            |
            <li><a href="https://github.com/Icecreamy8229/kettle" target="_blank">Github</a></li>
        </ul>
        <hr>
        <p style="color: white; background-color: rgb(255,0,0,.8); padding: 5px;">DISCLAIMER: THIS IS JUST A MOCK GAME DISTRIBUTION SITE.</p>
</footer>
