<!-- Rough draft created on 2/16 -->
<!-- Edited on 2/18 -->

<!-- Temporary nav bar -->
{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<style>
    
.gameList table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 0;
}


.gameList th, .gameList td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: white;
}


.gameList th {
    background-color: transparent;
}


.gameItem td {
    vertical-align: middle;
}

.gameInfo {
    display: inline-block;
    width: 100%;
}

.gameImage {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.gameItem h3 {
    font-size: 18px;
    margin: 0;
    display: inline-block;
    color: white;
}
</style>
<body>

    
    <!-- Banner -->
    <header>
        <h1>KETTLE COOL BANNER PLACEHOLDER</h1>
    </header>

    <!-- Small description text below the banner -->
    <div class="banner-description">
        <p>Discover new games for an affordable price or whatever text we might want here! </p>
    </div>

    <main>
        <!-- Container to hold game content and display them in a table-->
        <div class="container">
            <section class="gameList">
                <table>
                    <thead>
                        <!-- Removed the table headers as requested -->
                    </thead>
                    <tbody>
                        <tr class="gameItem">
                            <td class="gameInfo">
                                <img src="../static/images/games/game1.png" alt="Game 1" class="gameImage">
                                <h3>McPawnolds Fast food Simulator</h3>
                            </td>
                            <td class="price">$2.99</td>
                            <td><button class="buyButton">Add to cart</button></td>
                        </tr>

                        <tr class="gameItem">
                            <td class="gameInfo">
                                <img src="../static/images/games/game2.png" alt="Game 2" class="gameImage">
                                <h3>Bald Man's Gate 3</h3>
                            </td>
                            <td class="price">$34.99</td>
                            <td><button class="buyButton">Add to cart</button></td>
                        </tr>

                        <tr class="gameItem">
                            <td class="gameInfo">
                                <img src="../static/images/games/game3.png" alt="Game 3" class="gameImage">
                                <h3>Shower With Your Dad Simulator 2077</h3>
                            </td>
                            <td class="price">$14.99</td>
                            <td><button class="buyButton">Add to cart</button></td>
                        </tr>

                        <tr class="gameItem">
                            <td class="gameInfo">
                                <img src="../static/images/games/game4.png" alt="Game 4" class="gameImage">
                                <h3>Overwatch</h3>
                            </td>
                            <td class="price">$60.00</td>
                            <td><button class="buyButton">Add to cart</button></td>
                        </tr>

                        <tr class="gameItem">
                            <td class="gameInfo">
                                <img src="../static/images/games/game5.png" alt="Game 5" class="gameImage">
                                <h3>Balatro</h3>
                            </td>
                            <td class="price">$4.99</td>
                            <td><button class="buyButton">Add to cart</button></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footerContainer">
            <div class="footerLinks">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Store</a></li>
                    <li><a href="#">Keys</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
{% endblock %}
