{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            text-align: center;
            color: white;
        }

        h1, h2, h3 {
            position: relative;
        }

        .landingBANNER {
            background-image: url("");
            opacity: 0.8;
            background-color: #030303;
            background-size: cover;
            background-position: center;
            height: 500px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        a.INDEXBUTTON {
            background-color: #D4AF37;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
        }

        .bannerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        .bannerBox img {
            width: 150px;
            height: 150px;
        }
    </style>

    <body class="brendans-body">
        <div class="landingBANNER">
            <div class="bannerBox">
                <img src="static\images\kettlelogonobckrnd.png" alt="Kettle Logo">
                <h1 style="bottom: 5px; ">KETTLE</h1>
                <h3 style="bottom: 30px">Streamlining purchasing games & keys,</h3>
                <h3 style="bottom: 60px; left: 35px"><em>IN THE SAME PLACE!</em></h3>
                <a href="" class="INDEXBUTTON">Games</a>
            </div>
        </div>
    <div class="">
        
    </div>

</body>
{% endblock %}