{% extends 'base.html' %}

{% block head %}
    <style>
    form, form div input {
        text-align: center;

    }

    .user-content * {
        display: block;
    }

    .container {
        max-width:700px;
    }
    </style>
{% endblock %}

{% block content %}
    {% include 'flash.html' %}
    {% include 'navbar.html' %}  {# Any element that is visible to the user needs to be inside the body element. moving include down here. #}
        <div class="container">
            <div class="user-header">
                <h1>User Information & Settings</h1>
                <h1> {{ current_user.user_alias }}'s Balance: {{ current_user.user_balance }}</h1>
            </div>

            <form class="user-content" action="{{ url_for('routes.update_user_route') }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="profile-content">
                    <div class="profile-picture">
                        <img id="profile-img" src="{{ get_profile_picture(current_user) }}" alt="Profile Picture">
                        <div class="hover-overlay">Update Picture</div>
                        <label for="upload-image" class="upload-button">📷 Change</label>
                        <input type="file" id="upload-image" name="profile_picture" accept="image/*" onchange="validateImagesAndVideos()" hidden>
                    </div>
                </div>
                <input type="text" id="username" name="username" class="username" placeholder="Username" value="{{ current_user.user_login }}" readonly>
                <input type="email" id="email" name="email" class="username" placeholder="Email" value="{{ current_user.user_email }}" readonly>
                <input type="text" id="alias" name="alias" class="custom-username" placeholder="Alias" value="{{ current_user.user_alias }}">

                <div class="password-section">
                    <input type="password" id="current-password" name="current_password" class="current-pass" placeholder="Current Password">
                    <p style="display: inline-block" id="validate-emoji"> </p>
                    <input type="password" id="new-password" name="new_password" class="password-change" placeholder="New Password" disabled>
                    <input type="password" id="confirm-password" name="confirm_password" class="password-change" placeholder="Confirm New Password" disabled>
                </div>

                <div class="bio-section">
                    <textarea class="profile-bio" name="bio" placeholder="About me">{{ current_user.user_bio }}</textarea>
                </div>
                <button class="save-button" type="submit">Save Changes</button>
            </form>

        </div>
    </body>

{% include 'footer.html' %}
{% endblock %}

{% block aftercontent %}
    <script>

        document.getElementById('upload-image').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.querySelector('.profile-picture img').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });


        function validatePassword(plaintext_password) {
            const validateEmoji = document.getElementById('validate-emoji');

            const csrfToken = document.querySelector('input[name="csrf_token"]').value;
            fetch('{{ url_for("routes.update_user_route") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('input[name="csrf_token"]').value
                },
                body: JSON.stringify({ password: plaintext_password })
            })
            .then(response => response.json())
            .then(data => {
                if (data.valid) {
                    validateEmoji.innerHTML = "✅";
                    document.getElementById('new-password').disabled = false;
                    document.getElementById('confirm-password').disabled = false;
                } else {
                    validateEmoji.innerHTML = "❌";
                    document.getElementById('new-password').disabled = true;
                    document.getElementById('confirm-password').disabled = true;
                }
            });
        }



        function validateImagesAndVideos() {
            const maxImageSize = 1 * 1024 * 1024; //1MB

            const imageInput = document.getElementById("upload-image");

            const imageFiles = imageInput.files;

            for (let file of imageFiles) {
                if (file.size > maxImageSize) {
                    alert("Profile Picture file must be smaller than 1MB.");
                    imageInput.value = "";
                    return false;
                }
            }
            return true;
        }
        let timeout = null;
        const currentPassword = document.getElementById('current-password');

        currentPassword.addEventListener('input', function() {
            console.log("user started typing");
            clearTimeout(timeout);
            timeout = setTimeout(() => {
                console.log("User stopped typing, sending data.");
                validatePassword(currentPassword.value);

            }, 1000);

        });
    </script>
{% endblock %}

