{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}

    {#
        Checklist for settings:
        Alias change
        pass change
        Profile Picture change
        Transaction history?
        Delete Account?

        Display:
        Username
        Alias
        Email
        Profile Picture
        Bio
        Transaction History
        Delete Account
        
    #}
    
    <script>
        
        document.getElementById('upload-image').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.querySelector('.profile-picture img').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>

    

    <body>
        <div class="profile-container">
            <title>User Page</title>
            <h1>User Information & Settings Page</h1>
            <div class="username-display"></div>

            <form action="" method="POST" enctype="multipart/form-data">
            <div class="profile-content">
                <div class="profile-picture">
                    <img id="profile-img" src="" alt="Profile Picture">
                </div>
                <div class="profile-upload">
                    <input type="file" id="upload-image" accept="image/*" hidden>
                    <label for="upload-image" class="upload-button">Upload File for Profile Picture</label>
                </div>
            </div>
            <input type="text" id="username" class="username" placeholder="Username" value="" readonly>
            <input type="email" id="email" class="username" placeholder="Email" value="" readonly>
            <input type="text" id="alias" class="custom-username" placeholder="Alias" value="">

            <div class="bio-section">
                <textarea class="profile-bio" placeholder="About me"></textarea>

                {# temporary games section #}
                <h2>Favorite Games</h2>
                <div class="games-section">
                    <div class="slider-wrapper">
                    <button class="previous" onclick="moveSlider(-1)">&#10094;</button> {# left arrow #}
                    <div class="slider">
                        <img id="game1" src="../static/images/games/baldmansgate3.png" alt="bald-mans-gate-3">
                        <img id="game2" src="../static/images/games/showerwithyourdad2077.png" alt="shower-with-your-dad-2077">
                        <img id="game3" src="../static/images/games/cyberdrunk2077.png" alt="cyber-drunk-2077">
                    
                    </div>
                    <button class="next" onclick="moveSlider(1)">&#10095;</button> {# right arrow #}
                    </div>
                </div>
            </div>
            <button class="save-button">Save Changes</button>
            </form>
        </div>
    </body>

{% include 'footer.html' %}
{% endblock %}


